body {
  height: 90vh;
  min-height: auto;
  min-width: auto;
}

@media only screen and (max-width: 800px) {
    .image-container {
    display: none;
  }
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 1;
  flex-shrink: 0;
  padding: 10px;
  max-width: 550px;
  padding: 4% 0% 4% 4%;
}

.image-container {
  flex: 2 1 0;
  background-image: url(../images/bg-kotakode.png);
  background-size: contain;
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-position: right;
}

.kotakode-logo {
  width: 300px;
  margin: 0 0px;
}

.subtitle {
  font-size: 1.15rem;
  font-weight: 400;
  color: grey;
  margin-bottom: 150px;
}

h4 {
  font-size: 1.75rem;
  font-weight: 500;
  margin: 20px 0;
}

h5 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 300px;
}

.bg-img-kotakode {
  height: 100%;
}
